.footer{
    width: 100%;
    width: 1200px;
    font-size: 12px;
    padding-left: 120px;
}
.fList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fList{
    list-style: none;
    padding: 0;
}
.fListsItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}
